.tag {
  min-height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  background: var(--background-badge-one);
  /* border: 1px solid var(--linear-one); */
  border-radius: var(--border-radius-badge);
  padding: 6px 11px;
  user-select: none;
  transition: all 300ms ease-in;
  font-weight: 300;

  & .tag__figure {

    width: 22px;
    /* height: 22px; */
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
    }
  }

  & .tag__text {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-badge);
    line-height: normal;
    transition: all 0.3s ease-out;
  }

}

.tag:hover {
  background-color: var(--background-badge-one-hover);

  & .tag__text {
    color: var(--color-badge-hover);
  }
}


.tag--active {
  background-color: var(--background-badge-one-hover);

  & .tag__text {
    color: var(--color-badge-hover);
  }
}


.tag--not-border {
  border: none;
}

/* .skills:hover .tag:not(:hover){
  & .tag__figure{
    backdrop-filter: grayscale(1);
    & img{
      backdrop-filter: grayscale(1);
    }
  }

  & .tag__text{
    font-size: 12px;
    font-weight: 900;
    color: var(--border-color);
  }
} */

.tag--sm {
  &.tag__figure {
    width: 12px;
    height: 12px;
  }

  & .tag__text {
    font-size: x-small;
  }
}