.btn-transparent{
  background: transparent !important;
}

.btn-warn {
  background-color: var(--background-btn-warn);
  color: var(--color-btn-warn);
  & > .btn-icon .btn-img {
    filter: var(--color-icon-warn);
  }
  &:hover{
    background-color: var(--background-btn-warn-hover ) !important;
  }
}

.btn-primary {
  background-color: var(--background-btn-primary);
  color: var(--color-btn-primary);
  & > .btn-icon .btn-img {
    filter: var(--color-icon-primary);
  }
  &:hover{
    background-color: var(--background-btn-primary-hover) !important;
  }
}

.btn-accent {
  background-color: var(--background-btn-warn);
  color: var(--color-btn-accent);
  & > .btn-icon .btn-img {
    filter: var(--color-icon-accent);
  }
  &:hover{
    background-color: var(--background-btn-accent-hover) !important;
  }
}

.btn-disabled{
  background-color: var(--background-btn-disabled) !important;
  color: var(--color-btn-disabled);
  & > .btn-icon .btn-img {
    filter: var(--color-icon-disabled);
  }
}


/** ESTILOS DE BTN  */



/*! END ESTILOS BTN  */