
.btn-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--background-link);
  padding: 3px 7px;
  border-radius: var(--border-radius-btn);  
  text-decoration: none;
  font-size: small;
  backdrop-filter: blur(5px);
  transition: all .3s ease-in-out;

  user-select: none;
  
  & .btn-link__img {
    /* width: 100%; */
    width: 23px;
    /* height: 25px; */
  }

  & .btn-link__text{
    text-align: normal;
    color: var(--text);
  }

  &:hover{
    background-color: var(--background-widget-one);
    /* background-color: var(--background-widget-three); */
    color: var(--background-btn-one);
  }

  &:focus-visible{
    border: none;
    outline: none;
    outline-offset: 0px;
    background-color: var(--background-widget-one);
    color: var(--background-btn-one);
  }

}




