/* You can add global styles to this file, and also import other style files */


* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    &:hover{
        outline: none;
    }
}

h1,h2,h3,h4,h5,h6,p,samp, button{
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace !important;
}

:root {
    /*#f8f9fa*/
    /*--title-color: #333;
     --sub-title: #999;
    --text: #555;
    --info-text: #222; */

    --tw-text-opacity: .9;

    --title-color: #fff;
    --sub-title: rgb(115, 164, 214);
    /* --text: rgb(216 227 238/var(--tw-text-opacity)); */
    --text: #000c;
    --info-text: rgb(31 41 55 / var(--tw-text-opacity));

    --code-background-page :  255 255 255;
    /* --background-page: linear-gradient(to right, #f5f5f5, transparent 1px), linear-gradient(to bottom, #f5f5f5, transparent 1px); */
    --background-page: #fff;
    --background-widget-one: #fff;
    --background-widget-two: #ffff;
    --background-widget-three: #5855ff;
    --background-widget-four: #e5e2e2;
    
    --border-color : #e4eaf4b3;

    
    --linear-one: linear-gradient(to right bottom, #ff0059, #ff0079, #f8009b, #e723bc, #cc42db, #dd3ed5, #ed3bcf, #fc39c8, #ff3695, #ff5d63, #ff8935, #ffb100);

    --background-btn-one: #85A5A7;
    --background-btn-two: #7f5cff34;

    --border-radius-btn: 5px;
    --border-radius-badge: 20px; 
    --border-radius-widget: 20px;

    
    --shadow : 10px 10px 20px rgba(189, 223, 254, 0.248),
    -10px -10px 25px #d8ecff5a;
    
    --top: 18px;    

    
    
    /** VARIABLES PARA BADGE */
    --background-badge-one: #edf4ff;
    --background-badge-one-hover: #7f5cffcd;
    /* --color-badge: #328AF1; */
    --color-badge: rgb(75 85 99);
    --color-badge-hover: #fff;
    /*! END - VARIABLES PARA BADGE */
    
    /** **** VARIABLES PARA BOTONS **** */
    
    --background-btn-basic: #2262e2 ;
    --background-btn-primary: #5855ff;
    --background-btn-warn: #ff0000;
    --background-btn-accent: #ff2f00;
    --background-btn-disabled: #d4d1d1;

    --background-btn-basic-hover : #328AF1;
    --background-btn-primary-hover : #5251bf;
    --background-btn-warn-hover : #ca2424;
    --background-btn-accent-hover : #cc1b00;

    --color-btn-basic: #fff;
    --color-btn-primary: #e0ddff;
    --color-btn-warn: #ffffff;
    --color-btn-accent: #ffffff;
    --color-btn-disabled: #F3F4F6;

    --color-icon-basic: invert(100%) sepia(29%) saturate(0%) hue-rotate(254deg) brightness(107%) contrast(101%);
    --color-icon-warn:  invert(98%) sepia(37%) saturate(2%) hue-rotate(286deg) brightness(115%) contrast(100%);
    --color-icon-accent:  invert(98%) sepia(37%) saturate(2%) hue-rotate(286deg) brightness(115%) contrast(100%);
    --color-icon-primary:  invert(87%) sepia(56%) saturate(4472%) hue-rotate(181deg) brightness(101%) contrast(101%);
    --color-icon-disabled:  invert(74%) sepia(7%) saturate(165%) hue-rotate(212deg) brightness(80%) contrast(81%);

    /*! **** VARIABLES PARA BOTONS **** */

}

.--shadow {
    box-shadow: var(--shadow)
}


body.dark-mode {


    /* --title-color: #fff;
    --sub-title: #999;
    --text: #9b9b9b;
    --info-text: rgba(206, 212, 218, 0.6);

    --background-page: #1c1c1c;
    --background-widget-one: #040905ff;
    --background-widget-four: #161616;
    --border-color: #6e28ccff;

    --linear-one: linear-gradient(to right bottom, #7f5cff, #7453fb, #6849f6, #5c40f2, #4e36ed, #4c3fef, #4b47f0, #4b4ff1, #5b67f7, #6e7efb, #8294fe, #97a9ff); */

    /** VARIABLES MAIN  */
    --code-background-page :  16 32 53;
    --background-page: rgb(16, 32, 53);

    --title-color: #fff;
    --sub-title: rgb(115, 164, 214);
    --text: rgb(216 227 238/var(--tw-text-opacity));
    --info-text: rgba(206, 212, 218, 0.6);

    --shadow : 10px 10px 20px rgb(11 22 41 / 51%), 
    -10px -10px 20px rgb(0 16 39 / 22%);

    /*! END - VARIABLES MAIN  */


    /** VARIABLES PARA BADGE */
    --background-badge-one: #18273F;
    --background-badge-one-hover: #273d60d1;
    /* --color-badge: rgb(216 227 238/var(--tw-text-opacity)); */
    --color-badge: rgb(148 163 184 / var(--tw-text-opacity));;
    --color-badge-hover: rgb(216 227 238/var(--tw-text-opacity));
    /*! END - VARIABLES PARA BADGE */
    
    
    /** VARIABLES WIDGETS  */

    --background-widget-one: rgb(16, 32, 53);
    --background-widget-two: #18273F;
    --background-widget-three: #5855ff;
    --background-widget-four: #161616;
     
    --border-color : #273d60d1;
    /*! END - VARIABLES WIDGETS  */


    --linear-one: linear-gradient(to right bottom, #7f5cff, #7453fb, #6849f6, #5c40f2, #4e36ed, #4c3fef, #4b47f0, #4b4ff1, #5b67f7, #6e7efb, #8294fe, #97a9ff);

    --background-btn-one: #85A5A7;
    --background-btn-two: #0f1f39a6;


}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Inconsolata", monospace;
    transition: all 0.1s ease-in;
}
.font {
    font-family: "Inconsolata", monospace;
}
body {
    overflow: auto;
    background: var(--background-page) !important;
}

.component{
    background: tra;
}
.container {
    padding: 8px;
    color: var(--text);
    /* margin: 5px; */

    & .container__title {
        font-weight: 900;
        background-image: var(--linear-one);
        background-clip: text;
        color: transparent;
        width: max-content;
        margin-bottom: 20px;
        text-wrap: balance;
        letter-spacing: 2px;
    }

}

.btn{
    cursor: pointer;
    line-height: normal;
    padding: 8px 10px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    border-radius: var(--border-radius-btn);
    outline: none;
    border: none;
    background-color: var(--background-btn-basic);
    color: var(--color-btn-basic);
    font-weight: 500;
    transition: background 0.3s ease-out;
    & .btn-icon {
        width: 18px;
        height: 18px;
        
        
        & .btn-img {
            width: 100%;
            filter: var(--color-icon-basic);
        }
    }
    
}
.btn:focus-visible{
    outline: none;
}

.btn:hover{
   background: var(--background-btn-basic-hover);
}