/* You can add global styles to this file, and also import other style files */


* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,samp{
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace !important;
}

:root {
    /*#f8f9fa*/
    /*--title-color: #333;
     --sub-title: #999;
    --text: #555;
    --info-text: #222; */

    --tw-text-opacity: .9;

    --title-color: #fff;
    --sub-title: rgb(115, 164, 214);
    --text: rgb(216 227 238/var(--tw-text-opacity));
    --info-text: rgba(206, 212, 218, 0.6);

    --code-background-page :  16 32 53;
    --background-page: rgb(16, 32, 53);
    --background-widget-one: #273d60d1;
    --background-widget-two: #18273F;
    --background-widget-three: #5855ff;
    --background-widget-four: #161616;
    --border-color: #328AF1;

    --linear-one: linear-gradient(to right bottom, #7f5cff, #7453fb, #6849f6, #5c40f2, #4e36ed, #4c3fef, #4b47f0, #4b4ff1, #5b67f7, #6e7efb, #8294fe, #97a9ff);

    --background-btn-one: #85A5A7;
    --background-btn-two: #0f1f39a6;

    --border-radius-btn: 5px;
    --border-radius-badge: 20px; 
    --border-radius-widget: 20px;

    --top: 18px;    
}

.--shadow {
    box-shadow: 10px 10px 20px rgb(var(--code-background-page)/var(--tw-text-opacity)),
        -10px -10px 20px var(--background-page);
}


body.dark-mode {


    --title-color: #fff;
    --sub-title: #999;
    --text: #9b9b9b;
    --info-text: rgba(206, 212, 218, 0.6);

    --background-page: #1c1c1c;
    --background-widget-one: #040905ff;
    --background-widget-four: #161616;
    --border-color: #6e28ccff;

    --linear-one: linear-gradient(to right bottom, #7f5cff, #7453fb, #6849f6, #5c40f2, #4e36ed, #4c3fef, #4b47f0, #4b4ff1, #5b67f7, #6e7efb, #8294fe, #97a9ff);
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Inconsolata", monospace;
}
.font {
    font-family: "Inconsolata", monospace;
}
body {
    overflow: auto;
    background-color: var(--background-page) !important;
}


.container {
    padding: 8px;
    color: var(--text);
    /* margin: 5px; */

    & .container__title {
        font-weight: 900;
        background-image: var(--linear-one);
        background-clip: text;
        color: transparent;
        width: max-content;
        margin-bottom: 20px;
        text-wrap: balance;
        letter-spacing: 2px;
    }

}