/* ********************************** */
/* ************ UTILS CSS *********** */
/* ********************************** */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
  padding: 0;
  text-wrap: balance;
  font-family: "Inconsolata", monospace;
}
/* .figure-icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 10px;

  & .figure-icon__img{
    width: 100%;
    height: 100%;
  }
} */

.my-cv{
  position: relative;
  background: inherit;
}

.component-header, .main{
  display: block;
  margin: auto;
  padding: 20px 15px;
  width: 100%;
  max-width: 860px;
}
.component-header{
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 0;
  backdrop-filter: blur(12px);
  border-radius: 0 0 var(--border-radius-widget) var(--border-radius-widget);
}

.main { 
  /* height: 100%; */
  /* background-color:var(--background-page); */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.text{
  color: var(--text);
  text-wrap: pretty;
  font-size: small;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  & *{
    flex: 1;
  }
}
.align-items-center{
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}

.figure{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background: red; */
  
  & .figure__img{
    width: 100%;
    height: 100%;
  }
}

/*! ********************************* */
/*! ********* END UTILS CSS ********* */
/*! ********************************* */

/* ********************************** */
/*********** YOUR STYLE CODE ******** */
/* ********************************** */

.presentation{
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  

  /* background-attachment: fixed; */
  & .presentation__back{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* background-image: url(../../../../../assets/img/background/back2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* border-image: fill 0 linear-gradient(180deg, #dfcc5700, #ac765b00, #0000, #4c44444a, #000000cc); */
  }
}
.back-img {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: rgb(0,0,0); */
  /* background: linear-gradient(0deg, rgba(0,0,0,.85) 0%, rgba(1,1,1,.5) 38%, rgba(0,212,255,0) 100%); */
  background-image: url(/assets/img/background/back2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  filter: brightness(.8);
  mask-image: linear-gradient(black 55%, transparent);
}


.perfil{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  & .perfil__img{
    width: 100%;
    filter: brightness(0.9);
  }
}

.datos{
  
  text-align: center;
  text-wrap: balance;

  > *{
    /* letter-spacing: 2px; */
    user-select: none;
  }

  & .datos__text {
    color: var(--text);
  }

  & .datos__text--title {
    color: var(--title-color);
    font-weight: 800;
  }

  & .datos__text--sub-title{
    /* color: var(--sub-title); */
    width: max-content;
    /* background: var(--linear-one); 
    background-clip: text; 
    color: transparent;  */
    color: var(--info-text);
    font-weight: 900;
  }
}

.redes-sociales{
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;

  & .redes-sociales__media{
    display: flex;
    align-items: center;
    justify-content: center;
  }

   & .redes-sociales__link{
    width: 100%;
    height: 100%;
  }

  /* & .redes-sociales__media:hover { 
    transform: scale(1.3);
  }  */

}




.objetivo{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  align-items: center;
  
  & .obtetivo__img{
    filter: drop-shadow(4px 4px 0 var(--background-widget-three));
  }    
}

/* .glow{
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at 30vw 40vh, var(--background-radial-gradient-cursor) 0%, transparent 300px);
} */

.skills { 
  --gap-skill: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: var(--gap-skill);
  overflow: hidden;
  width: 100%;
  height: max-content;
  mask-image: linear-gradient(90deg, transparent,  black 50%, transparent );

  & .skills__type{
    
    width: max-content;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: var(--gap-skill);

    &:nth-child(odd){
      & .skills__content{
        animation: move-skill-content-reverse 20s infinite linear both;
      }
    }
    &:nth-child(even){
      & .skills__content{
        animation: move-skill-content 20s infinite linear both;
      }
    }
    & .skills__content {
      
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--gap-skill);
      & .skills__skill{
        position: relative;
        z-index: 100;
      }
    }

  }
}

@keyframes move-skill-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - var(--gap-skill)));
  }
}

@keyframes move-skill-content-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap-skill))); 
  }
  to {
    transform: translateX(0%);
  }
}



.cards {
  display: grid;
  gap: 12px;
  /** auto-fit => expande a cada celda para que ocupe el total si es que hay espacio, 
  ** no considera si tiene un width y heigth definido para cada celda cuando sobra espacio */

  /** auto-fill => considera el tamaño de cada celda y crea las columnas necesarias para el contenedor  */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  width: 100%;
  padding: 0px;
} 




.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-small;
  font-weight: 300;
  /* background-color: var(--background-widget-two); */
  margin-top: 50px;
  padding: 50px 0 150px 0;
  gap: 15px;
  user-select: none;
  & .footer__autor {
    display: flex;
    align-items: center;
    justify-content: center;
    & strong { 
      font-weight: 900;
      padding: 3px 4px;
      color: var(--color-highlighted);
      background-color: var(--background-highlighted);
    }
  } 

  & .footer__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}

.aside{
  height: max-content;
  position: fixed;
  left: 15px;
  top: 0;
  bottom: 0;
  z-index: 100;
  margin: auto;
  background : var(--background-widget-two);
  padding: 11px 11px;
  border-radius: var(--border-radius-widget);
  /* border: 1px solid var(--background-widget-one); */
  /* box-shadow: -3px 3px 0px 0px var(--background-widget-three); */
}
.side-actions{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* 
.skills__skill{

  opacity: 0.0;
  animation: tras 2s 1 ease-in-out;
  animation-fill-mode:both;
  animation-direction: alternate;
}

@keyframes tras {
  
  from { 
    transform: translate(200%) scale(.4);
  }

  to { 
    scale: 1;
    opacity: 1;
    transform: translate(0%);
  }
} */


.figure-icon{ 

  position: relative;
  /* width: 32px; 
  height: 32px; */
  width: 24px;
  aspect-ratio: 1/1;
  
  & .figure-icon__img {
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 1/1;
    background-image: var(--url);
    background-position: center;
    background-size: cover;

    &::after { 
      content: "";
      position: absolute;
      background-image: inherit;
      background-image: var(--url);
      background-position: center;
      background-size: cover;
      height: inherit;
      aspect-ratio: 1 / 1;
      /* filter: blur(9px) brightness(2); */
    }
  }
}


.degraded{
  position: absolute;
  inset: 0;
  z-index: -1;
  /* background: radial-gradient(circle at 1208px 1057px, var(--background-radial-gradient-cursor) 0%, var(--background-page) 600px); */
  height: inherit;
  width: inherit;
}
