<!-- <figure class="figure-icon">
    <img class="figure-icon__img" src="../../../../../assets/img/icons/angular.ico" alt="">
</figure> -->
<!-- Main -->

@if ( dataCV().isLoad && dataCV().cv != undefined && cv() != undefined ) {
    

    <!--* HEADER  -->
    <component-header class="component-header"/>

    <!--* ASIDE  -->
    <aside class="aside --shadow">
        <div class="side-actions">
            @for (profile of cv()!.basics.profiles; track $index) {
                <li class="redes-sociales__media">
                    <component-button-link class="redes-sociales__link" [link]="profile.url" [pathIcon]="profile.image" />
                </li>
            }
            <li class="redes-sociales__media">
                <component-button-link class="redes-sociales__link" 
                [link]="'mailto:gutierrezcallazacadaniel@gmail.com?Subject=Interesado%20en%20tus%20habilidades'" 
                [pathIcon]="'http://localhost:4200/assets/img/icons/gmail.svg'" />
            </li>
        </div>
    </aside>

    <!--* MAIN -->
    <main class="main">

        <!--* PRESENTACION  -->
        <section class="container">
    
            <article class="presentation">
    
                <div class="back-img"></div>
                <div class="presentation__back">

                    <figure class="perfil"> 
                        <img class="perfil__img" [src]="cv()!.basics.image" alt="tu foto">
                    </figure>
        
                    <div class="datos">
                        <h3 class="datos__text datos__text--title">{{cv()!.basics.name}}</h3>
                        <span class="datos__text datos__text--sub-title">{{cv()!.basics.label}}</span>
                    </div>
        
                    <ul class="redes-sociales">
                        @for (profile of cv()!.basics.profiles; track $index) {
                            <li class="redes-sociales__media">
                                <component-button-link class="redes-sociales__link" [link]="profile.url" [pathIcon]="profile.image" [textAlt]="profile.network" />
                            </li>
                        }
                    </ul>

                </div>
                
            </article>
        </section>
        <!--! END - PRESENTACION  -->
        
        <!--* OBJETIVOS -->
        <section class="container">

            <div class="obtetivo">
                <div>
                    <!--* titulo container  -->
                    <h2 class="container__title">OBJETIVOS</h2>
                    <p class="text">{{cv()!.basics.summary}}</p>
                </div>
    
                <figure class="figure">
                    <img class="figure__img obtetivo__img" src="../../../../../assets/img/panels/developer-isometric.svg" alt="fnd">
                </figure>
    
            </div>
    
        </section>
        <!--! END - OBJETIVOS  -->
    
        <!--* HABILIDADES  -->
        <article class="container">
    
            <!--* titulo container  -->
            <h2 class="container__title">HABILIDADES</h2>
    
            <!--* skills -->
            <ul class="skills">
    
                @for (skill of cv()!.skills; track $index) {
                    @for (util of skill.utils; track $index) {
                        <li class="skills__skill">
                            <component-badge [text]="util.name" [src]="util.urlImage" />
                        </li>
                    }
                }

            </ul>
    
        </article>
        <!--! END - HABILIDADES  -->
    
        <!--* PROYECTOS  -->
        <article class="container">
    
            <!--* titulo container  -->
            <h2 class="container__title"> PROYECTOS</h2>
    
            <!--* proyectos  -->
            <section class="cards">
    
                @for (project of cv()!.projects; track $index) {
                    <component-card-project [project]="project"  withShadow/>
                }
    
            </section>

        </article>
        <!--! END - PROYECTOS  -->

        <!--* TIMELINE  -->
        <article class="container">
            <h2 class="container__title">EXPERIENCIA</h2>
            <component-timeline />
        </article>
        <!--! END - TIMELINE  -->
    </main>
    
    <!--* FOOTER -->
    <footer class="footer">
        <p style="text-align: center; color: var(--info-text);">©Todos los derechos reservados</p>
    </footer>
    
    
}@else {
    <main class="main">
        <section class="container">
            <!-- <div style="width: 10px; height: 10px;">
                <component-skeleton></component-skeleton>
            </div> -->
            <span> CARGANDO DATOS...</span>
        </section>
    </main>
}



<!--* con display flex todos los hijos se convertiran el elementos en linea, pero tener cuidado
si un elemento tiene una altura y los demas no, dicha altura afectara a estos elementos sin altura definida,
para ello usaremos  aling-items: flex-start => row -->
<!--* tener en cuenta de que los elementos sin una altura en row toman el 100% de la altura del padre, para ello usamos aling-items para controlar ese comportamiento -->
<!--* para colum toman el 100% del width o ancho, para ello usamos, justify-content para controlar ese comportamiento  -->
<!-- <div style="display: flex; flex-direction: row; height: 100px;">
    <div style="background: green;">Elemento 1</div>
    <div style="height: 500px;background-color: red;">Elemento 2</div>
    <div style="background: green;">Elemento 3</div>
</div> -->